*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
 
}

 nav div{
    justify-content: center;
    margin: 10px;

 }  
 
}
nav{
    width: 100%;
    height: 50px;
    position: fixed;
}
nav .list ul{
    position: absolute;
    top: 10px;
    right: 500px;
   align-items: center;
}

nav .list ul li{
    float: left;
    list-style: none;
    gap: 40px;
    padding: 0 14px;
    font-family: sans-serif;
    ;
    margin-top: 10px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}
.img1{
  padding: 15px;
  position: relative;
  margin-left: 25px;
  top: 0px;
 
}

.but{
    right: 20px;
    position: absolute;
    justify-content: center;
    display: flex;
    gap: 20px;
    top: 15px;
    font-size: 22px;
    

}

.but1{
    border: none;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}
.hi{
    border: none;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: black;
    cursor: pointer;
}

.bg-img {
    /* The image used */
    background-image: url("images/Rectangle\ 1.png");
    
    width: 100%;
    height: 760px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    width: 1100px;
    height: 344px;
    top: 150px;
    left: 100px;
    bottom: 100px;
    right: 100px;
    border-radius: 5px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
  }
  
  
  
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #111111;
    outline: none;
  }

  .bg-img h1{
    text-align: center;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    font-weight: 500;
    padding: 5px;

  }


  .bg-img input{
    border-radius: 10px;
   
    width: 180px;
    height: 30px;
    background-color: #ECECEC;
    
   font-size: 15px;
   font-weight: 500;
   font-family: sans-serif;
   border: none;
   color: black;
    margin-left: 70px;
  }


  
  /* Set a style for the submit button */
  
  .but3{
    border: none;
    outline: none;
    background-color: gainsboro;
    margin-left:150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 600px;
    height: 40px;
    border-radius: 7px;
    margin-top: 70px;
     cursor: pointer;
    
  }

  .but4{
    background-color: #00EBC7;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-left: 40px;
   font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    padding:15px;
    text-align: center;

 
}

.but5{
    margin-top: 600px;
    margin-left: 650px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-decoration: underline;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
}






.section3{
    width: 100%;
    height: 370px;
    background-color: #FDE24F;
    top: 0px;
    position:relative;
  
}


.section3 .section3-h2  {
    text-align: center;
    font-size: 38px;
    top: 60px;
    position: relative;
    
}

.section3 .section3-imgdiv img{
    text-align: center;
    left: 45px;
    top:100px;
    position: relative;
    
}



.features{
    width: 100%;
    
   
    position: relative;
}
.features-h2{
   
    position: relative;
     margin-bottom: 0;
     margin-top:80px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 25px;
     margin-left: 64px;
     
}

.ser{
    position:relative;
    width: 80%;
    margin: 0 auto;
    
}
.ser1{
    
    width: 100%;
     overflow: hidden;
     
}
.ser1 div{
    justify-content: space-around;
    float: left;
   margin-left:50px;
   margin-top: 40px;
   justify-content: space-evenly;
}
.ser1 div p{
    width: 300px;
    height: 72px;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.ser1 div h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
   
}
.ser1 div img{
    margin-left: 120px;
    
}
.ser1 div a{
    margin-left: 50px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    position: absolute;
    
}

.but6-div{
    margin-top: 100px;
    width: 227px;
    height:100px;
   
}
 

.but6{
    padding: 10px;
    background-color: #fff;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 430px;
    position: absolute;
    cursor: pointer;
}

.color{
    width: 100%;
    height: 700px;
    margin-top: 20px;
}

.color1{
    width: 40%;
    float: left;
    margin-left: 100px;
}

.color2{
    width: 40%;
    float: right;
    margin-left: px;

}

.color2 p{
    float: right;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
}


.color1 p{
    float: right;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    
}

.color1 div{
    padding: 10px;
    margin: 50x;
}

.color2 div{
    padding: 10px;
    margin: 5px;
    
}

.color1 img{
    margin-left: 30px;
}
.color2 img{
    margin-left: 30px;
}

.color div h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    margin-left: 30px;
}
.color p{
    margin-right: 20px;
    text-align: center;
    margin-top: 30px;
}

.color .con1, .con2, .con3{
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    border-collapse: separate;
    margin: 10px;
}

.color2 {
    margin-right: 40px;
}

.but8{
    margin-top: 50px;
    margin-left: 200px;
    background-color: #000000;
    color: #fff;
    padding: 15px 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.div-2{
    height:500px;
    width: 100%px;
    background-color: #CFBAFF;
    border-radius: 10px;
    
}

.div-2 h2{
    font-size: 75px;
    text-align: center;
    margin-top: 80px;
    position: absolute;
    font-family:  serif;
}


.div-2 .but9{
    background-color: #000000;
    padding: 15px 24px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    margin-top: 350px;
    margin-left: 600px;
    cursor: pointer;
}



.footer-div{
    
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #000000;
    padding: 70px 0;
}


.footer-col{
    width: 25%;
    padding: 0 15px;
}


.footer-col h4{
    font-size: 25px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
     transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10ox;
}


.footer-p p{
    color: #fff;
    margin-top: 100px;
    text-align: center;
    color: #bbbbbb;
    font-size: 12px;

}


.hr-div hr{
    background-color: #fff;
}


@media (max-device-width: 767px){
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #08e425;
        height: 2px;
        box-sizing: border-box;
        width: 50px;

        
}